
body {
  font-family: sans-serif;
}

.class-0 {
  background-color: #41D5D5;
}

.class-1 {
  background-color: #2AEC2A;
}

.class-2 {
  background-color: #ECEC00;
}

.class-3 {
  background-color: #DD14DD;
}

.class-4 {
  background-color: #D80B0B;
}

.class-5 {
  background-color: #FF6EB3;
}

.class-6 {
  background-color: #4D4DDA;
}

.class-7 {
  background-color: #FF8737;
}

.class-8 {
  background-color: #727272;
}

.class-9 {
  background-color: #3A997E;
}


.index {
  padding: 0 20px;
  max-width: 650px;
  margin: 0 auto;
}

.index__title {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.projects__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.projects__project {
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: #afa;
  }
}

.projects form {
  padding: 10px 10px;

  input[type='text'] {
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 16px;
  }

  button {
    font-size: 16px;
    border: 1px solid #999;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: #afa;
      border-color: #9d9;
    }
  }
}


body {
  padding: 0;
  margin: 0;
}

.project {
}

.project__back {
  border: 1px solid #797;
  background-color: #4b6;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
.project__header {
  padding: 10px;
  background-color: #afa;
  margin-bottom: 10px;
}
.project__name {
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
}
.project__nav {
  display: inline-block;
  padding: 0;
  margin: 0 10px;
  list-style: none;
}
.project__nav-item {
  display: inline-block;
  padding: 5px 10px;
  cursor: default;
  &.selected {
    background-color: white;
  }
  &:not(.selected):hover {
    color: #777;
    cursor: pointer;
  }
}

@import "features.less";


