
.new-project {
  max-width: 500px;
  border: 1px solid #aaa;
  margin: 50px auto;
  padding: 20px;

}

.new-project__back {
}

.new-project__title {
  text-align: center;
  margin: 0 0 20px;
}

.new-project__create {
  background-color: #7f7;
}
