
.features {
}

.features__row {
  display: flex;
}

.features__main {
  flex: 1;
}

.features__instances {
  border-left: 1px solid #aaa;
}

.features__results {
  border-top: 1px solid #aaa;
}

.features__results-head {
  background-color: #efe;
}

.features__results-body {
}

