
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

input[type='text'] {
  padding: 3px 7px;
  border: 1px solid #aaa;
}

input[type='file'] {
  cursor: pointer;
}

button {
  background-color: white;
  border: 1px solid #aaa;
  padding: 3px 7px;
  cursor: pointer;
  color: #333;

  &:hover {
    background-color: #ddd;
  }
}

